conacyt/dist/gfdeploy/*
conacyt/build/*
conacyt/nbproject/private/*
conacyt/conacyt-ejb/dist/*
conacyt/conacyt-ejb/build/*
conacyt/conacyt-ejb/nbproject/private/*
conacyt/conacyt-war/dist/*
conacyt/conacyt-war/build/*
conacyt/conacyt-war/nbproject/private/*
.gitignore~
