
body {
  background-color: #e5e5e5;
  font-family: Verdana,Arial,Helvetica,serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #fff;
  height: 130px;
  position: relative;
  width: 100%;
}

#header-things {
  left: 11%;
  position: relative;
  top: 10px;
  width: 85%;
}

#menu {
  background-color: #d39b10;
  height: 30px;
  text-align: right;
  width: 100%;
}

#menu a {
  color: #fff;
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  padding: 5px 25px;
  text-decoration: none;
}

#menu a:hover {
  background-color: #dbaf3f;
  text-decoration: underline;
}

#principal {
  margin: 0;
  min-width: 1016px;
  position: relative;
}

#service-description {
  font-size: 1.4em;
  margin: 20px auto;
  width: 65%
}

#title {
  left: 453px;
  position: absolute;
  top: 17px;
}

#title h1{
  margin: 0;
}

.description {
  margin: 20px 0 40px 20px;
}

.diagram {
  display: block;
  margin: 0 auto;
  width: 70%
}

.forms {
  margin: 20px 20px; 
}

.forms input[type="text"] {
  border: 1px solid #1565c0;
  height: 24px;
}

.forms input[type="submit"] {
  background-color: #1565c0;
  border: 1px solid #1565c0;
  color: #fff;
  cursor: pointer;
  height: 28px;
  margin: 0 0 0 -4px;
  width: 60px;
}

.forms input[type="submit"]:active {
  background-color: #5b93d2;
}

.indent-1 {
  margin-left: 80px;
}

.indent-2 {
  margin-left: 120px;
}

.indent-3 {
  margin-left: 160px;
}

.indent-4 {
  margin-left: 200px;
}

.section {
  background-color: #fff;
  box-shadow: 3px 3px 10px 0px #7c8d95;
  -ms-box-shadow: 3px 3px 10px 0px #7c8d95;
  -moz-box-shadow: 3px 3px 10px 0px #7c8d95;
  -o-box-shadow: 3px 3px 10px 0px #7c8d95;
  -webkit-box-shadow: 3px 3px 10px 0px #7c8d95;
  margin: 20px auto;
  max-width: 1800px;
  padding: 15px 40px;
  width: 65%
}

.section .titles {
  margin-left: 20px;
}

.titles {
  color: #25414f;
}

.params {
  max-height: 600px;
  overflow:auto;
}

.response {
  max-height: 600px;
  overflow:auto;
}
